.loader {
    width: 48px;
    height: 48px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader.active {
    display: block;
}

.loader::after,
.loader::before {
    content: '';
    width: 48px;
    height: 48px;
    border: 2px solid #71daed;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: rotation 2s ease-in-out infinite;
}

.loader::after {
    border-color: #1158fe;
    animation-delay: 1s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4e75ff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.load-more-btn:hover {
    background-color: #6c8cff;
}

.is-hidden {
    display: none;
}